loan-broker-get-banks/src/main/java/rulebase/banks.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">

    <xs:element name="getBanksRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="creditScore" type="xs:int"/>
                <xs:element name="loanAmount" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getBanksResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="banks" type="tns:bank"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="bank">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="routingkey" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getBanksRequest">
    <wsdl:part element="tns:getBanksRequest" name="getBanksRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBanksResponse">
    <wsdl:part element="tns:getBanksResponse" name="getBanksResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BanksPort">
    <wsdl:operation name="getBanks">
      <wsdl:input message="tns:getBanksRequest" name="getBanksRequest">
    </wsdl:input>
      <wsdl:output message="tns:getBanksResponse" name="getBanksResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BanksPortSoap11" type="tns:BanksPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBanks">
      <soap:operation soapAction=""/>
      <wsdl:input name="getBanksRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBanksResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BanksPortService">
    <wsdl:port binding="tns:BanksPortSoap11" name="BanksPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>